@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Name{
    color: black;
    font-family: 'Nanum Pen Script', 'Roboto', serif;
    font-size: 5em;
    text-decoration-line : none;
    text-decoration-color: none;
}

#Name:hover{
    opacity: 50%;
    transition: all 0.4s ease-out;
}