@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Name{
    opacity: 100%;
    color: black;
    font-family: 'Nanum Pen Script', 'Roboto', serif;
    font-size: 7em;
    text-decoration-line : none;
    text-decoration-color: none;
    transition: all 0.5s ease;
}

.explanation{
    font-family: 'Nanum Pen Script', 'Roboto', serif;
    font-size: 2em;
    margin: 0;
    opacity: 0%;
    transition: all 0.8s ease-out;
}

#first{
    width: 100px;
    height: 150px;
    display: block;
    text-align: center;
}

#second{
    width: 100px;
    height: 150px;
    display: block;
    text-align: center;
}

#third{
    width: 100px;
    height: 150px;
    display: block;
    text-align: center;
}
